

// Colores Primarios
$cian: hsl(179, 62%, 43%);
$amarilloBrillante: hsl(71, 73%, 54%);
$blanco: hsl(0, 0%, 100%);

// Colores Neutros
$grisClaro: hsl(204, 43%, 93%);
$azulGrisaceo: hsl(218, 22%, 67%);

// Tipografia
$fuentePrincipal: 'Karla', sans-serif;

// Tamaños
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$dektopXL: 1200px;